body {
  margin: 0;
  font-family: Comic Sans MS, Comic Sans, cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: lightblue;
  text-align: center;
  padding-left: 30px;
}

code {
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.top {
  background-color: #4CAF50;
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 10px 10px;
  cursor: pointer;
  }

.top:active{
  background: gray;
}

.mid {
  background-color: whitesmoke;
  color: black;
  font-size: 20px;
  padding: 10px 35px;
  border-radius: 5px;
  margin: 5px 0px;
  cursor: pointer;
}

.submitBtn {
  background-color: gold;
  color: black;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 10px 10px;
  cursor: pointer;
}

/* Dropdown button on hover and focus */
.mid:hover, .mid:focus {
  background-color: #b366d1;
}